Here we have all about CRUD in pandas
CRUD: Create, Read, Update, Delate

In [ ]:
# Importing pandas

import pandas as pd

# 1. Create

#### 1.1 Create a DataFrame from a CSV file

In [ ]:
df = pd.read_csv("telco_churn.csv")

#### 1.2 Create from a Dictionnary

In [ ]:
# create a dictionnary
tempdict = { 'col1':[1,2,3], 'col2': [4,5,6], 'col3': [7,8,9]}

In [ ]:
# Create a dataframe from a dictionnary
dictdf= pd.DataFrame.from_dict(tempdict)

## 2. Read

#### 2.1 Show Top and Bottom

In [ ]:
df.head()

In [ ]:
# view bottom 15 rows
df.tail()

In [ ]:
dictdf.head()

#### 2.2 Show Columns and Data Type

In [ ]:
df.columns

In [ ]:
df.dtypes

#### 2.3 Summary statistics

In [ ]:
# Understanting the data ( for intergers as floats)
df.describe()

In [ ]:
# statistics for objetcs
df.describe(include='object')

#### 2.4 Filtering Columns

In [ ]:
# single column without space in the name
df.State

In [ ]:
# grab a single column with space
df['International plan']

In [ ]:
# grab 2 columns
df[['State', 'Churn']]

In [ ]:
# Grab unique values
df['International plan'].unique()

#### 2.5 Filtering on Rows

In [ ]:
df.head()

In [ ]:
df[df['International plan']=='No']

In [ ]:
df[(df['International plan']=='No') & (df['Churn']==False)]

In [ ]:
df[(df['International plan']=='No') & (df['Churn']==True)]

#### 2.6 Indexing with iloc

In [ ]:
# get a specific row
df.iloc[14]

In [ ]:
# get a specific number ( row 14 and column 0)
df.iloc[14, 0]

In [ ]:
# 14 row and last column
df.iloc[14, -1]

In [ ]:
# slicing row 22 to raw 33 excluded
df.iloc[22:33]

#### 2.7 Indexing with loc

In [ ]:
# set State as index for our dataset
state = df.copy()
state.set_index('State', inplace=True)

In [ ]:
state.head()

In [ ]:
state.loc['OH']

## 3. Update

#### 3.1 Dropping Rows

In [ ]:
# Show the missing values
df.isnull().sum()

In [ ]:
# Drop all rows with missing values
df.dropna(inplace=True)

In [ ]:
# 0 missing values
df.isnull().sum()

#### 3.2 Dropping Columns

In [ ]:
# drop Area code column
df.drop("Area code", axis=1)

#### 3.3 Creating Calculated Columns

In [ ]:
df['New column']= df['Total night minutes']+df['Total intl minutes']

In [ ]:
df.head()

#### 3.4 Unpdating an Entire Column

In [ ]:
df['New column']=100

In [ ]:
df.head()

#### 3.5 Unpdating a single value

In [ ]:
df.iloc[0,-1]=15

In [ ]:
df.head()

#### 3.6 Condition based on Updating using Apply method

In [ ]:
df['Churn Binary']= df['Churn'].apply(lambda x: 1 if x ==True else 0)

In [ ]:
df[df['Churn']==True].head()

## 4. Delete/Output

#### 4.1 Output to CSV

In [ ]:
df.to_csv('output.csv')

#### 4.2 Output to json

In [ ]:
df.to_json('ourput.json')

#### 4.3 Output to html

In [ ]:
df.to_html('output.html')

#### 4.4 Delete

In [ ]:
# del df